@model ClinicManagement.Core.ViewModel.DoctorDetailViewModel
@{
    ViewBag.Title = "Profile";
}


<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Profile </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a href="@Url.Action("Edit","Doctors", new{id =Model.Doctor.Id})" class="btn-link"><i class="fa fa-edit m-right-xs"></i>Edit</a>

                    </li>
                </ul>    

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view" src="~/Content/images/user.png" alt="Avatar" title="Change the avatar">
                        </div>
                    </div>
                    <h3>@Model.Doctor.Name</h3>
                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-briefcase user-profile-icon"></i> @Model.Doctor.Specialization.Name
                        </li>
                        <li>
                            <i class="fa fa-map-marker user-profile-icon"></i> @Model.Doctor.Address
                        </li>
                        <li>
                            <i class="fa fa-phone"></i> @Model.Doctor.Phone
                        </li>
                        <li><i class="fa fa-inbox"></i>@Model.Doctor.Physician.Email</li>

                    </ul>
                    <!-- start skills -->
                    @if (Model.Doctor.IsAvailable == true)
                    {
                        <a href="#" style="padding: 3px 10px 3px 10px; background-color:green " class="badge" readonly>Available</a>
                    }
                    else
                    {
                        <a href="#" style="padding: 3px 10px 3px 10px; background-color:red " class="badge" readonly>Closed</a>
                    }
                    <!-- end of skills -->
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Upcomming Appointments</a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">All</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                <!-- start patient today -->
                                <table id="patients" class="data table table-striped no-margin">
                                    <thead>
                                    <tr>
                                        <th>Token</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Details</th>
                                        <th></th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model.UpcomingAppointments)
                                    {
                                        <tr>
                                            <td>@item.Patient.Token</td>
                                            <td>@item.Patient.Name</td>
                                            <td>@item.Patient.Phone</td>
                                            <td>@item.StartDateTime.ToString("MMM")-@item.StartDateTime.ToString("d ")-@item.StartDateTime.ToString("yyyy")</td>
                                            <td>@item.StartDateTime.ToString("HH:mm")</td>
                                            <td>@item.Detail</td>
                                            <td> <a href="@Url.Action("Details","Patients", new { id = item.Patient.Id})" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i>View</a>
                                        </tr>
                                    }
                                    </tbody>
                                </table>

                                <!-- end patient today -->
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                <table id="patients" class="data table table-striped no-margin">
                                    <thead>
                                        <tr>
                                            <th>Token</th>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Details</th>
                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Appointments)
                                        {
                                            <tr>
                                                <td>@item.Patient.Token</td>
                                                <td>@item.Patient.Name</td>
                                                <td>@item.Patient.Phone</td>
                                                <td>@item.StartDateTime.ToString("MMM")-@item.StartDateTime.ToString("d ")-@item.StartDateTime.ToString("yyyy")</td>
                                                <td>@item.StartDateTime.ToString("HH:mm")</td>
                                                <td>@item.Detail</td>
                                                <td><a href="@Url.Action("Details","Patients", new { id = item.Patient.Id})" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i>View</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function() {
            $("#patients").DataTable({
                "scrollY": "300px",
                "scrollCollapse": true,
                "paging": false,
                "filter": false,
                "info": false

            });
        });
    </script>
}