@model IEnumerable<ClinicManagement.Core.Models.Attendance>
@{
    ViewBag.Title = "Patients";
    Layout = null;
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="data table table-striped no-margin dataTable">
                    <thead>
                        <tr>
                            <th>Clinic Remarks</th>
                            <th>Diagnosis</th>
                            <th>Second Diagnosis</th>
                            <th>Third Diagnosis</th>
                            <th>Therapy</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ClinicRemarks</td>
                                <td>@item.Diagnosis</td>
                                <td>@item.SecondDiagnosis</td>
                                <td>@item.ThirdDiagnosis</td>
                                <td>@item.Therapy</td>
                                <td>@item.Date.ToString("MMM"), @item.Date.ToString("d ")-@item.Date.ToString("yyyy")</td>
                            </tr>

                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.dataTable').DataTable({
            "scrollY": "300px",
            "scrollCollapse": true,
            "paging": false,
            "filter": false,
            "info": false,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
